body {text-align: center; background-color:#070512; color: #f8f7fc; margin: 0; font-size: 18px; font-family: 'Open Sans Condensed', sans-serif;}
a {color: #4564ac; font-size: 18px; text-decoration: none;}
h1 {font-family: 'Amatic SC', cursive;}
