body {text-align: center; background-color:#070512; color: #f8f7fc; margin: 0; font-size: 22px; font-family: 'Open Sans Condensed', sans-serif;}
a {color: #4564ac; font-size: 22px; text-decoration: none; font-family: "Trebuchet MS", Helvetica, sans-serif;}
