.fb-header {background-color:#3b5998; font-family: Helvetica, Arial, sans-serif; height: 82px;}
.fb {font-size:14px; font-style: italic; font-weight: 700px; line-height: 18.7667px; word-spacing: 0px; color:white;}
